﻿@model Presentation.Web.Models.Project.CreateProjectViewModel
@{
    ViewBag.Title = "Opret Projekt";
}

<h2>Opret projekt</h2>
<hr class="hidden-xs" />

<div class="container">
    @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { id = "form" }))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.AddressId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @{
                                var selectedAddress = new List<SelectListItem> {new SelectListItem()}; // Empty item to enable dropdown clearing with select2
                                if (Model != null && Model.AddressId != Guid.Empty)
                                {
                                    selectedAddress.Add(new SelectListItem {Value = Model.AddressId.ToString(), Selected = true});
                                }
                            }
                            @Html.DropDownListFor(model => model.AddressId, selectedAddress, new { @class = "form-control", id = "address-search", style = "width: 100%", data_auto_expand = "1" })
                            @Html.ValidationMessageFor(model => model.AddressId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SearchInAarhus, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.SearchInAarhus, new { id = "aarhusAddresses", @checked = "", @class = "checkbox" })
                            @Html.ValidationMessageFor(model => model.SearchInAarhus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TemporaryAddress, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.TemporaryAddress, new { @class = "checkbox" })
                            @Html.ValidationMessageFor(model => model.TemporaryAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Topic, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpectedStartDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ExpectedStartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExpectedStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpectedEndDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ExpectedEndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExpectedEndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control note" } })
                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StreetType, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EnumDropDownListFor(model => model.StreetType, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StreetType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectLeaderId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.ProjectLeaderId, ViewBag.ProjectLeaderList as List<SelectListItem>, "Vælg projektleder", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectLeaderId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CouncilPriority, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <div class="form-control">
                                <div id="council-slider"></div>
                            </div>
                            <p class="help-block">1 er højest, 10 er lavest.</p>
                            @Html.ValidationMessageFor(model => model.CouncilPriority, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.CouncilPriority, new { htmlAttributes = new { @class = "col-md-12 priority-text", id = "council-slider-display" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MunicipalityPriority, new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <div class="form-control">
                                <div id="muncipality-slider"></div>
                            </div>
                            <p class="help-block">1 er højest, 10 er lavest.</p>
                            @Html.ValidationMessageFor(model => model.MunicipalityPriority, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.MunicipalityPriority, new { htmlAttributes = new { @class = "col-md-12 priority-text", id = "muncipality-slider-display" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Budget, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control", id = "budget-input" } })
                            @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStatus, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EnumDropDownListFor(model => model.ProjectStatus, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OneYearReview, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.OneYearReview, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OneYearReview, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FiveYearReview, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.FiveYearReview, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FiveYearReview, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second column for lists-->
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Rådgivers virksomhed", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("CompanyId", ViewBag.CompanyList as List<SelectListItem>, "Vælg virksomhed", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AdvisorId, new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.AdvisorId, ViewBag.AdvisorList as List<SelectListItem>, "Vælg rådgiver", new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.AdvisorId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CouncilId, new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.CouncilId, ViewBag.CouncilList as List<SelectListItem>, "Vælg fællesråd", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CouncilId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectCategoryId, new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.ProjectCategoryId, ViewBag.ProjectCategoryList as List<SelectListItem>, "Vælg projektkategori", new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.ProjectCategoryId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConstructionProgramId, new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.ConstructionProgramId, ViewBag.ConstructionProgramList as List<SelectListItem>, "Vælg anlægsprogram", new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.ConstructionProgramId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LocalCommunityId, new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.LocalCommunityId, ViewBag.LocalCommunityList as List<SelectListItem>, "Vælg lokalsamfund", new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.LocalCommunityId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div id='drop_zone'>
                    <button type="button" class='btn-danger' id="removeAllImages">X</button>
                    <div action="@Url.Action("SaveUploadedFile", "Project")" class='dropzone' id='myDropZone'></div>
                </div>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                    <input type="button" id="submit" value="Opret" class="btn btn-success" />
                    <input type="submit" id="hidden-submit" value="Opret" class="btn btn-success" style="display: none;" />
                </div>
            </div>
        </div>
    }
</div>
@Html.ActionLink("Tilbage til listen", "Index")

@section Scripts {
    <script type="text/javascript">
        $(function() {

            // Populate advisor dropdown based on companyId
            var companyDropdown = $('#CompanyId');
            var advisorDropdown = $('#AdvisorId');

            // on select companyDropdown change
            var companyId;
            companyDropdown.change(function(event) {

                if (event.target.options[$(this).val()] === undefined)
                    return;

                companyId = event.target.options[$(this).val()].value;

                // get all advisors where company id matches
                $.get('/Advisor/AdvisorsWithCompanyId?companyId=' + companyId, function(data) {

                    // clear all existing options
                    advisorDropdown.text('');

                    // populate advisorDropdown
                    if (data.length === 0)
                        advisorDropdown.append($("<option />").val(undefined).text("Ingen rådgivere for virksomheden"));

                    $.each(data, function(idx) {
                        if (idx === 0) {
                            advisorDropdown.append($("<option />").val(undefined).text("Vælg rådgiver"));
                            advisorDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        } else {
                            advisorDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        }
                    });
                });
            });

            // Populate council based on groupId
            var groupDropdown = $('#GroupId');
            var councilDropdown = $('#CouncilId');

            // on select groupDropdown change
            var groupId;

            groupDropdown.change(function (event) {
                groupId = $(event.target).val();

                if (groupId === null || groupId === undefined)
                    groupId = '';

                // get all advisors where company id matches
                $.get('/Council/CouncilsWithGroupId?groupId=' + groupId, function (data) {

                    // clear all existing options
                    councilDropdown.text('');

                    // populate advisorDropdown
                    if (data.length === 0)
                        councilDropdown.append($("<option />").val(undefined).text("Ingen fællesråd for gruppen"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            councilDropdown.append($("<option />").val(undefined).text("Vælg fællesråd"));
                            councilDropdown.append($("<option />").val(this.Id).text(this.Name));
                        } else {
                            councilDropdown.append($("<option />").val(this.Id).text(this.Name));
                        }
                    });
                });
            });

            // File upload
            var index = 0;
            var responseIndex = 0;
            var submit = $('#submit');
            var hiddenSubmit = $('#hidden-submit');
            Dropzone.autoDiscover = true;
            Dropzone.options.myDropZone = {
                init: function() {
                    myDropZone = this;
                    submit.click(function() {
                            // get jquery validator state
                            var form = $("#form");
                            form.validate();
                            if (form.valid() == true) {
                                myDropZone.processQueue();
                                if (responseIndex == index) {
                                    hiddenSubmit.click();
                                }
                            }
                        }),
                        $("#removeAllImages").click(function() {
                            myDropZone.removeAllFiles();
                            index = 0;
                            responseIndex = 0;
                        });
                    this.on("processing", function() {
                        this.options.autoProcessQueue = true;
                    });
                    this.on("success", function(data) {
                        var res = JSON.parse(data.xhr.responseText);

                        // hidden elements to send to server
                        var guid = Dropzone.createElement("<input hidden name = 'Documents[" + responseIndex + "].Guid' value = " + res.Guid.toString() + ">");

                        responseIndex++;
                        var dropzone = $('#drop_zone');
                        dropzone.append(guid);
                        if (responseIndex == index)
                            hiddenSubmit.click();
                    });
                    this.on('sending', function(file, xhr, formData) {
                        var comment = file.previewElement.lastElementChild.value;
                        formData.append('comment', comment);
                    });
                    this.on("addedfile", function(file) {
                        // Create the remove button
                        var commentField = Dropzone.createElement(
                            "<textarea id = '" + index + "' class = 'doc-text-area' name = 'Documents[" + index + "].Comment'>");

                        index++;
                        var removeButton = Dropzone.createElement(
                            "<button class='btn-danger'>Slet fil</button>");
                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();

                            // decrement index
                            index--;

                            // Remove the file preview.
                            _this.removeFile(file);
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        file.previewElement.appendChild(commentField);
                    });
                },
                dictDefaultMessage: "Træk og slip for at uploade dokumenter",
                uploadMultiple: false,
                autoProcessQueue: false,
                paramName: "file"
            };

            // UI slider
            var sliderMax = 10;
            var sliderMin = 1;
            var initValue = 5;

            // council slider
            var councilSlider = $('#council-slider');
            var councilSliderDisplay = $('#council-slider-display');
            councilSlider.slider({
                min: sliderMin,
                max: sliderMax,
                value: initValue,
                slide: function(event, ui) {
                    councilSliderDisplay.val(ui.value);
                },
                change: function(event, ui) {
                    councilSliderDisplay.attr('value', ui.value);
                }
            });

            councilSliderDisplay.attr('value', councilSlider.slider("option", "value"));
            councilSliderDisplay.bind('input', function() {
                var inputValue = $(this).val();
                if (inputValue > 10)
                    councilSliderDisplay.val('10');
                if (inputValue !== "" & inputValue < 1)
                    councilSliderDisplay.val('1');
                councilSlider.slider("option", "value", inputValue);
            });

            // muncipality slider
            var muncipalitySlider = $('#muncipality-slider');
            var muncipalitySliderDisplay = $('#muncipality-slider-display');
            muncipalitySlider.slider({
                min: sliderMin,
                max: sliderMax,
                value: initValue,
                slide: function(event, ui) {
                    muncipalitySliderDisplay.val(ui.value);
                },
                change: function(event, ui) {
                    muncipalitySliderDisplay.attr('value', ui.value);
                }
            });

            muncipalitySliderDisplay.attr('value', muncipalitySlider.slider("option", "value"));
            muncipalitySliderDisplay.bind('input', function() {
                var inputValue = $(this).val();
                if (inputValue > 10)
                    muncipalitySliderDisplay.val('10');
                if (inputValue !== "" & inputValue < 1)
                    muncipalitySliderDisplay.val('1');
                muncipalitySlider.slider("option", "value", inputValue);
            });

            // Set 1 review
            $('#ExpectedEndDate').on('change', function() {
                var d = $.datepicker.parseDate('dd-mm-yy', this.value);
                d.setFullYear(d.getFullYear() + 1);
                var formatedDate = $.datepicker.formatDate('dd-mm-yy', d);
                $('#OneYearReview').val(formatedDate);
            });

            // Set 5 year review
            $('#ExpectedEndDate').on('change', function() {
                var d = $.datepicker.parseDate('dd-mm-yy', this.value);
                d.setFullYear(d.getFullYear() + 5);
                var formatedDate = $.datepicker.formatDate('dd-mm-yy', d);
                $('#FiveYearReview').val(formatedDate);
            });
        });
    </script>
}
