﻿@model Presentation.Web.Models.Project.IndexProjectViewModel
@{
    ViewBag.Title = "Slet";
}

<h2>Slet</h2>

@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette projektet?</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Topic)</dt>
                <dd>@Html.DisplayFor(model => model.Topic)</dd>

                <dt>@Html.DisplayNameFor(model => model.ExpectedStartDate)</dt>
                <dd>@Html.DisplayFor(model => model.ExpectedStartDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.ExpectedEndDate)</dt>
                <dd>@Html.DisplayFor(model => model.ExpectedEndDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>

                <dt>@Html.DisplayNameFor(model => model.Note)</dt>
                <dd>@Html.DisplayFor(model => model.Note)</dd>

                <dt>@Html.DisplayNameFor(model => model.StreetType)</dt>
                <dd>@Html.DisplayFor(model => model.StreetType)</dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectLeader.Name)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectLeader.Name)</dd>

                <dt>@Html.DisplayNameFor(model => model.CouncilPriority)</dt>
                <dd>@Html.DisplayFor(model => model.CouncilPriority)</dd>

                <dt>@Html.DisplayNameFor(model => model.MunicipalityPriority)</dt>
                <dd>@Html.DisplayFor(model => model.MunicipalityPriority)</dd>

                <dt>@Html.DisplayNameFor(model => model.AddressId)</dt>
                <dd class="aws-address-id" data-aws-id="@Model.AddressId">Henter addresse...</dd>

                <dt>@Html.DisplayNameFor(model => model.TemporaryAddress)</dt>
                <dd>@Html.DisplayFor(model => model.TemporaryAddress)</dd>

                <dt>@Html.DisplayNameFor(model => model.Budget)</dt>
                <dd>@Html.DisplayFor(model => model.Budget)</dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectStatus)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectStatus)</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Advisor)
                </dt>

                <dd>
                    @if (Model.Advisor != null)
                    {
                        <b>Virksomhed: </b>
                        @Html.DisplayFor(model => model.Advisor.CompanyName)
                        <br />
                        <b>Ansvarlig person: </b>
                        @Html.DisplayFor(model => model.Advisor.ResponsiblePersonName)
                        <br />
                        <b>Telefonnummer: </b>
                        @Html.DisplayFor(model => model.Advisor.ResponsiblePersonPhoneNumber)
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProjectCategory)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProjectCategory.Category)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Group)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Group.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ConstructionProgram)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ConstructionProgram.YearOfProjectInvolvement)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LocalCommunity.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LocalCommunity.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Documents)
                </dt>
                @foreach (var doc in Model.Documents)
                {
                    <dd>
                        <a href="@Url.Action("Download", "Project", new { guid = doc.Guid })">@doc.FileName</a>
                    </dd>
                    <dd class="bg-info">
                        @Html.DisplayFor(model => doc.Comment)
                    </dd>
                    <br />
                }
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Slet" class="btn btn-danger" /> | @Html.ActionLink("Gå tilbage", "Index") | @Html.ActionLink("Rediger", "Edit", new { id = Model.Id })
            </div>
        </div>
    }
</div>
