﻿@model Presentation.Web.Models.Project.IndexProjectViewModel
@{
    ViewBag.Title = "Detaljer";
}

<h2>Projekt</h2>

@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Id)</dt>
                <dd>@Html.DisplayFor(model => model.Id)</dd>

                <dt>@Html.DisplayNameFor(model => model.AddressId)</dt>
                <dd class="aws-address-id" data-aws-id="@Model.AddressId">Henter adresse...</dd>

                <dt>@Html.DisplayNameFor(model => model.TemporaryAddress)</dt>
                <dd>@Html.DisplayFor(model => model.TemporaryAddress)</dd>

                <dt>@Html.DisplayNameFor(model => model.Topic)</dt>
                <dd>@Html.DisplayFor(model => model.Topic)</dd>

                <dt>@Html.DisplayNameFor(model => model.ExpectedStartDate)</dt>
                <dd>@Html.DisplayFor(model => model.ExpectedStartDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.ExpectedEndDate)</dt>
                <dd>@Html.DisplayFor(model => model.ExpectedEndDate)</dd>

                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                    <dd class="description-details">@Html.DisplayFor(model => model.Description)</dd>
                }

                @if (!string.IsNullOrEmpty(Model.Note))
                {
                    <dt>@Html.DisplayNameFor(model => model.Note)</dt>
                    <dd class="note-details">@Html.DisplayFor(model => model.Note)</dd>
                }

                <dt>@Html.DisplayNameFor(model => model.StreetType)</dt>
                <dd>@Html.DisplayFor(model => model.StreetType)</dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectLeader)</dt>
                <dd>
                    @if (Model.ProjectLeader != null)
                    {
                        <b>Navn: </b>
                        @Html.DisplayFor(model => model.ProjectLeader.Name)
                        <br />
                        <b>Initialer: </b>
                        @Html.DisplayFor(model => model.ProjectLeader.Initials)
                        <br />
                        <b>Aktiv: </b>
                        @Html.DisplayFor(model => model.ProjectLeader.IsActive)
                    }
                </dd>

                <dt>@Html.DisplayNameFor(model => model.CouncilPriority)</dt>
                <dd>@Html.DisplayFor(model => model.CouncilPriority)</dd>

                <dt>@Html.DisplayNameFor(model => model.MunicipalityPriority)</dt>
                <dd>@Html.DisplayFor(model => model.MunicipalityPriority)</dd>

                <dt>@Html.DisplayNameFor(model => model.Budget)</dt>
                <dd>@Html.DisplayFor(model => model.Budget)</dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectStatus)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectStatus)</dd>

                <dt>@Html.DisplayNameFor(model => model.OneYearReview)</dt>
                <dd>@Html.DisplayFor(model => model.OneYearReview)</dd>

                <dt>@Html.DisplayNameFor(model => model.FiveYearReview)</dt>
                <dd>@Html.DisplayFor(model => model.FiveYearReview)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Advisor)</dt>
                <dd>
                    @if (Model.Advisor != null)
                    {
                        <b>Virksomhed: </b>
                        @Html.DisplayFor(model => model.Advisor.Company.Name)
                        <br />
                        <b>Ansvarlig person: </b>
                        @Html.DisplayFor(model => model.Advisor.ResponsiblePersonName)
                        <br />
                        <b>Telefonnummer: </b>
                        @Html.DisplayFor(model => model.Advisor.ResponsiblePersonPhoneNumber)
                    }
                </dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectCategory)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectCategory.Category)</dd>

                <dt>@Html.DisplayNameFor(model => model.Group)</dt>
                <dd>@Html.DisplayFor(model => model.Group.Name)</dd>

                <dt>@Html.DisplayNameFor(model => model.ConstructionProgram)</dt>
                <dd>@Html.DisplayFor(model => model.ConstructionProgram.YearOfProjectInvolvement)</dd>

                <dt>@Html.DisplayNameFor(model => model.LocalCommunity.Name)</dt>
                <dd>@Html.DisplayFor(model => model.LocalCommunity.Name)</dd>

                <dt>@Html.DisplayNameFor(model => model.Council)</dt>
                <dd>@Html.DisplayFor(model => model.Council.Name)</dd>

                <dt>@Html.DisplayNameFor(model => model.Documents)</dt>
                @foreach (var doc in Model.Documents)
                {
                    <dd>
                        <a href="@Url.Action("Download", "Project" , new { guid=doc.Guid })">@doc.FileName</a>
                    </dd>
                    <dd class="bg-info">
                        @Html.DisplayFor(model => doc.Comment)
                    </dd>
                    <br />
                }
            </dl>
        </div>
    </div>

    <p>
        @Html.ActionLink("Rediger", "Edit", new { id = Model.Id }) | @Html.ActionLink("Tilbage til liste", "Index")
        | <a data-aws-id="@Model.AddressId" class="map-link" target="_blank" href=""><span class="glyphicon glyphicon-map-marker"></span> Vis på kort</a>
    </p>
</div>
