﻿@using Presentation.Web.Models.Shared
@model IEnumerable<Presentation.Web.Models.Project.IndexProjectViewModel>

@{
    ViewBag.Title = "Projekter";
}
<h2 class="page-header">Projekter</h2>

<div>
    <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret projekt</a>
</div>

<div>
    @if (ViewBag.onlyAwaitingProjects)
    {
        <input type="checkbox" id="select-awaiting" checked/><text>Vis kun aktuelle projekter.</text>
    }
    else
    {
        <input type="checkbox" id="select-awaiting" /><text>Vis kun aktuelle projekter.</text>
    }
</div>

<table class="table table-striped defaultSearchProjectStatus" id="data-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectLeaderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouncilPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MunicipalityPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemporaryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </th>
        <th class="no-sort"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td class="aws-address-id" data-aws-id="@item.AddressId">
                Henter adresse...
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedEndDate)
            </td>
            <td class="truncate">
                <div class="truncate">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectLeaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouncilPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipalityPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporaryAddress)
            </td>
            <td data-order="@int.Parse(item.Budget.ToString().Replace('.', ' ').Trim())">
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStatus)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id = item.Id})"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                <a href="@Url.Action("Details", new {id = item.Id})"><span class="glyphicon glyphicon-list-alt text-warning"></span></a>
                <a href="@Url.Action("Delete", new {id = item.Id})"><span class="glyphicon glyphicon-remove text-danger"></span></a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            // Toggle only showing awaiting projects
            $('#select-awaiting').on('change', function (e) {
                var val = $(this).is(':checked') ? 'true' : 'false';
                var url = '?onlyAwaitingProjects=' + val;

                window.location.href = url;
            });
        });
    </script>
}

