﻿@model Presentation.Web.Models.Council.CreateCouncilViewModel

@{
    ViewBag.Title = "Tilføj Fællesråd";
}

<h2>Tilføj Fællesråd</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new {@class = "control-label col-sm-2"})
            <div class="col-sm-10">
                @Html.EditorFor(model => model.IsActive, new {htmlAttributes = new {@class = "checkbox"}})
                @Html.ValidationMessageFor(model => model.IsActive, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-md-9">
                @Html.DropDownList("GroupId", ViewBag.GroupList as List<SelectListItem>, "Vælg gruppe", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gem" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>
