﻿@using Presentation.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppSettings.AppName</title>
    <meta name="description" content="@AppSettings.AppName" />

    @Styles.Render("~/Content/cba")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-cba">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Vis menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@AppSettings.AppName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="@Url.Action("Index", "Search")" class="navbar-btn-cba"><span class="glyphicon glyphicon-search"></span> <span class="sr-only">Søg</span></a></li>
                </ul>

                <div class="navbar-right navbar-user">
                    <p class="navbar-text">
                        @AdHelper.Name
                    </p>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle bg-orange navbar-btn-cba" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-plus-sign"></span> <span class="caret"></span> <span class="sr-only">Opret</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Projekt", "Create", "Project")</li>
                            <li>@Html.ActionLink("Færdselsmødepunkt", "Create", "AgendaPoint")</li>
                            <li>@Html.ActionLink("Færdselsmøde", "Create", "Meeting")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Projekter", "Index", "Project", null, new { @class = "navbar-btn-cba" })</li>
                    <li>@Html.ActionLink("Færdselsmødepunkter", "Index", "AgendaPoint", null, new { @class = "navbar-btn-cba" })</li>
                    <li>@Html.ActionLink("Færdselsmøder", "Index", "Meeting", null, new { @class = "navbar-btn-cba" })</li>
                    @if (AdHelper.InRole(AdHelper.Role.Admin))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle navbar-btn-cba" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span> <span class="sr-only">Indstillinger</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Emner", "Index", "Topic")</li>
                                <li>@Html.ActionLink("Fællesråd", "Index", "Council")</li>
                                <li>@Html.ActionLink("Grupper", "Index", "Group")</li>
                                <li>@Html.ActionLink("Inviterede personer", "Index", "InvitedPerson")</li>
                                <li>@Html.ActionLink("Lokalsamfund", "Index", "LocalCommunity")</li>
                                <li>@Html.ActionLink("Projektkategorier", "Index", "ProjectCategory")</li>
                                <li>@Html.ActionLink("Projektledere", "Index", "ProjectLeader")</li>
                                <li>@Html.ActionLink("Rådgivere", "Index", "Advisor")</li>
                                <li>@Html.ActionLink("Virksomheder", "Index", "Company")</li>
                                <li>@Html.ActionLink("Standardfraser", "Index", "DefaultPhrase")</li>
                                <li>@Html.ActionLink("Tilknyttede anlægsprogrammer", "Index", "ConstructionProgram")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @AppSettings.AppName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cba")
    @RenderSection("scripts", required: false)
</body>
</html>
