﻿
<div class="row">
    <div class="col-sm-12">
        <p class="text-muted"><i>Oprettet @ViewBag.CreatedOn af @ViewBag.CreatedBy</i></p>
    </div>
</div>

@if (ViewBag.ModifiedBy != null && ViewBag.ModifiedOn != null)
{
    <div class="row">
        <div class="col-sm-8">
            <p class="text-muted"><i>Sidst redigeret @ViewBag.ModifiedOn af @ViewBag.ModifiedBy</i></p>
        </div>
    </div>
}