﻿@model HandleErrorInfo
@{
    ViewBag.Title = "Fejl";
}

<h1 class="text-danger">Der opstod en fejl.</h1>
<p class="text-danger">Der opstod en ukendt fejl på siden. Prøv igen eller kontakt systemadministrator.</p>
