﻿@model IEnumerable<string>
@{
    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    object classValues;
    if (htmlAttributes.TryGetValue("class", out classValues))
    {
        classValues = classValues as string;
    }

    object idValues;
    if (htmlAttributes.TryGetValue("id", out idValues))
    {
        idValues = idValues as string;
    }

    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
}

<select multiple name="@name" class="@classValues tag-list" id="@name @idValues" style="width: 100%">
    @{
        var selectedItems = ViewData["predefinedValues"] as IEnumerable<SelectListItem>;
        if (selectedItems != null)
        {
            foreach (var item in selectedItems)
            {
                <option value="@item.Value" @(@item.Selected ? "selected=\"selected\"" : "")>@item.Text</option>
            }
        }
        if (Model.Any())
        {
            foreach (var item in Model)
            {
                <option value="@item" selected="selected">@item</option>
            }
        }
    }
</select>
