﻿@using Presentation.Web.Controllers
@using Presentation.Web.Helpers
@model Presentation.Web.Models.Meeting.CreateSummariesMeetingViewModel

@{
    ViewBag.Title = "Opret mødereferat";
}

<h2>Mødereferat</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.Location)
        @Html.HiddenFor(model => model.InvitedPeople)

        @if (ViewBag.ModifiedBy != null && ViewBag.ModifiedOn != null)
        {
            <div class="row">
                <div class="col-sm-8">
                    <p class="text-muted"><i>Sidst redigeret @ViewBag.ModifiedOn af @ViewBag.ModifiedBy</i></p>
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-sm-2">Mødeinformation</label>
            <div class="col-sm-10 container-fluid">
                <div class="row">
                    <div class="col-xs-12 container-fluid printing-border-ridge">
                        <div class="row">
                            <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.Id)</b></div>
                            <div class="col-sm-9">@Model.Id</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.Date)</b></div>
                            <div class="col-sm-9">@Model.Date</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.Location)</b></div>
                            <div class="col-sm-9">@Model.Location</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.InvitedPeople)</b></div>
                            @foreach (var person in Model.InvitedPeople)
                            {
                                <span class="col-sm-9">@person</span>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12 printing-border-top-thin">
                <hr class="hidden-print" />
                @Html.LabelFor(model => model.MeetingAgendaPoints, new { @class = "padding-top" })
                <hr />
            </div>
        </div>

        @for (var i = 0; i < Model.MeetingAgendaPoints.Count(); i++)
        {
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Id)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.ModifiedBy)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.ModifiedOn)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CreatedBy)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CreatedOn)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressId)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Area)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Id)

            <div class="container bg-info printing-border-ridge agenda-point">
                <div class="row">
                    <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].Number)</b></div>
                    <div class="col-sm-9">@Model.MeetingAgendaPoints[i].Number</div>
                </div>

                @if (Model.MeetingAgendaPoints[i].Number != 0)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPointId)</b>
                        </div>
                        <div class="col-sm-9">@Html.ActionLink("" + Model.MeetingAgendaPoints[i].AgendaPointId, "Details", "AgendaPoint", new { id = Model.MeetingAgendaPoints[i].AgendaPointId }, null)</div>
                    </div>
                }

                @if (Model.MeetingAgendaPoints[i].AgendaPoint.AddressId != MeetingController.AgendaPointZeroAddressId)
                {
                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressId)</b></div>
                        <div class="col-sm-3 aws-address-id" data-aws-id="@Model.MeetingAgendaPoints[i].AgendaPoint.AddressId">Henter adresse...</div>
                        <a data-aws-id="@Model.MeetingAgendaPoints[i].AgendaPoint.AddressId " class="map-link hidden-print" target="_blank" href=""><span class="glyphicon glyphicon-map-marker"></span> Vis på kort</a>
                    </div>
                }

                @if (Model.MeetingAgendaPoints[i].Number != 0)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Area)</b>
                        </div>
                        <div class="col-sm-9">@Model.MeetingAgendaPoints[i].AgendaPoint.Area</div>
                    </div>
                }

                <div class="row">
                    <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)</b>
                    </div>
                    <div class="col-sm-9">@Model.MeetingAgendaPoints[i].AgendaPoint.Description</div>
                </div>

                @if (Model.MeetingAgendaPoints[i].AgendaPoint.Project != null) {
                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Id)</b></div>
                        <div class="col-sm-9">@Html.ActionLink(Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Id).ToString(), "Details", "Project", new {id = Model.MeetingAgendaPoints[i].AgendaPoint.Project.Id}, null)</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Topic)</b></div>
                        <div class="col-sm-9">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Topic)</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project)</b></div>
                        <div class="col-sm-3 aws-address-id" data-aws-id="@Model.MeetingAgendaPoints[i].AgendaPoint.Project.AddressId">Henter adresse...</div>
                        <a data-aws-id="@Model.MeetingAgendaPoints[i].AgendaPoint.Project.AddressId" class="map-link hidden-print" target="_blank" href=""><span class="glyphicon glyphicon-map-marker"></span> Vis på kort</a>
                    </div>

                    if (Model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents.Count() > 0) {
                        <div class="row margin-top-20">
                            <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents)</b></div>
                            <div class="col-sm-9">
                                @for (var d = 0; d < Model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents.Count(); d++) {
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <b>
                                                @Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents[d].FileName)
                                            </b>
                                            @Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents[d].FileName)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <b>
                                                @Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents[d].Comment)
                                            </b>
                                            @Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents[d].Comment)
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }

                @if (Model.MeetingAgendaPoints[i].AgendaPoint.Documents.Count() > 0)
                {
                    <div class="row margin-top-20">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Documents)</b>
                        </div>
                        <div class="col-sm-9">
                            @for (var d = 0; d < Model.MeetingAgendaPoints[i].AgendaPoint.Documents.Count(); d++) {
                                <div class="row">
                                    <div class="col-sm-5">
                                        <b>
                                            @Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Documents[d].FileName)
                                        </b>
                                        @Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Documents[d].FileName)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <b>
                                            @Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Documents[d].Comment)
                                        </b>
                                        @Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Documents[d].Comment)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                @if (Model.IsSummaryLocked)
                {
                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Approved)</b>
                        </div>
                        <div class="col-sm-3"><b>@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Approved, new {@class = "checkbox-inline"})</b>
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion, new {@class = "col-md-2"})
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion, new {htmlAttributes = new {@class = "form-control col-sm-12", @readonly = "readonly"}})
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement, new {@class = "col-md-2"})
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement, new {htmlAttributes = new {@class = "form-control col-sm-12", @readonly = "readonly"}})
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Approved)</b>
                        </div>
                        <div class="col-sm-3"><b>@Html.CheckBoxFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Approved, new {@class = "checkbox-inline"})</b>
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion, new {@class = "col-md-2"})

                        <div class="col-md-4 col-md-push-6 hidden-print">
                            @if (ViewBag.DefaultPhraseList != null)
                            {
                                @Html.DropDownList("DefaultPhraseSelector" + i, ViewBag.DefaultPhraseList as List<SelectListItem>, "", new {@class = "form-control default-phrase", style = "width: 100%", data_field_id = @Html.IdFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion)})
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion, new {htmlAttributes = new {@class = "form-control col-sm-12"}})
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement, new {@class = "col-md-2"})

                        <div class="col-md-4 col-md-push-6 hidden-print">
                            @if (ViewBag.DefaultPhraseList != null)
                            {
                                @Html.DropDownList("DefaultPhraseSelector" + i, ViewBag.DefaultPhraseList as List<SelectListItem>, "", new {@class = "form-control default-phrase", style = "width: 100%", data_field_id = @Html.IdFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement)})
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement, new {htmlAttributes = new {@class = "form-control col-sm-12"}})
                        </div>
                    </div>
                }
            </div>
            <hr class="hidden-print" />
        }

        @if (!Model.IsSummaryLocked)
        {
            <div class="hidden-print">
                <div>
                    <input type="submit" value="Gem" class="btn btn-success"/>
                </div>
            </div>
        }
    </div>
}

<br class="hidden-print" />
<div class="hidden-print row">

    <div class="col-md-2">
        @Html.ActionLink("Tilbage til listen", "Index")
    </div>

    @if (Model.IsSummaryLocked || (!Model.IsSummaryLocked && AdHelper.InRole(AdHelper.Role.Admin)))
    {
        <button class="btn btn-primary pull-right col-md-2" id=" printbtn" onclick="printPage()">
            <span class="glyphicon glyphicon-print"></span>
            <span> Print mødereferat</span>
        </button>
    }
</div>

@section Scripts {
    <script>
        function printPage() {
            window.print();
        }

        $(function () {
            $(".default-phrase").change(function (event) {
                var fieldId = $(event.target).data("fieldId");
                var phraseText = event.target.options[$(this).val()].innerHTML;

                if (phraseText != undefined) {
                    var oldFieldtext = $("#" + fieldId).val().trim();
                    if (oldFieldtext) {
                        oldFieldtext += "\n";
                    }

                    $("#" + fieldId).val(oldFieldtext + phraseText);
                    $("#" + fieldId).trigger('input');
                }
            });

            $(".default-phrase").select2({
                placeholder: "Vælg en standardfrase...",
                language: "da"
            });
        });
    </script>
}
