﻿@using Presentation.Web.Helpers
@model Presentation.Web.Models.Meeting.CreateMeetingViewModel
@{
    ViewBag.Title = "Opret færdselsmøde";
}

<h2>Opret færdselsmøde</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr class="hidden-xs"/>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvitedPeople, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.InvitedPeople, new { htmlAttributes = new { @class = "form-control" }, predefinedValues = Model.InvitedPeople.Any() ? null : ViewBag.InvitedPeopleList })
                <span class="help-block">Separer navne med komma.</span>
                @Html.ValidationMessageFor(model => model.InvitedPeople, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (AdHelper.InRole(AdHelper.Role.Admin)) {
            <div class="form-group">
                @Html.LabelFor(model => model.MeetingAgendaPoints, new {@class = "control-label col-md-2"})
                <div class="col-sm-10 container-fluid">
                    @if (!Model.MeetingAgendaPoints.Any())
                    {
                        <p>Der er ikke nogle ubehandlede færdselsmødepunkter.</p>
                        <a href="@Url.Action("Create", "AgendaPoint")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj et nyt færdselsmødepunkt nu.</a>
                    }
                    @for (var i = 0; i < Model.MeetingAgendaPoints.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Id)
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Id)
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressId)
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Number)
                        <div class="row @(i%2 == 1 ? "bg-info" : "")">
                            <div class="col-xs-1 text-center">
                                @Html.CheckBoxFor(model => model.MeetingAgendaPoints[i].AgendaPoint.IsAssignedToMeeting, new {@class = "checkbox-inline"})
                            </div>
                            <div class="col-xs-11 container-fluid">
                                <dl class="dl-horizontal description-left-allign">
                                    <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressId)</dt>
                                    <dd class="aws-address-id" data-aws-id="@Model.MeetingAgendaPoints[i].AgendaPoint.AddressId">Henter adresse...</dd>

                                    <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)</dt>
                                    <dd>@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)</dd>
                                </dl>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Gem" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>
