﻿@using Presentation.Web.Controllers
@model Presentation.Web.Models.Meeting.DetailsMeetingViewModel
@{
    ViewBag.Title = "Færdselsmøde";
}

<h2>Færdselsmøde</h2>

@Html.Partial("CreatedModifiedPartialView")
<hr />

<div class="row">
    <div class="col-sm-12">
        <dl class="dl-horizontal">
            <dt class="hidden-print">@Html.DisplayNameFor(model => model.Id)</dt>
            <dd class="hidden-print">@Html.DisplayFor(model => model.Id)</dd>

            <dt>@Html.DisplayNameFor(model => model.Date)</dt>
            <dd>@Html.DisplayFor(model => model.Date)</dd>

            <dt>@Html.DisplayNameFor(model => model.Location)</dt>
            <dd>@Html.DisplayFor(model => model.Location)</dd>

            <dt>@Html.DisplayNameFor(model => model.InvitedPeople)</dt>
            <dd>
                @foreach (var person in Model.InvitedPeople)
                {
                    <span>@person</span>
                }
            </dd>

                @if (Model.IsSummaryLocked)
                {
                    <dt>@Html.LabelFor(model => model.EDocsLink)</dt>
                    <dd>@Html.DisplayFor(model => model.EDocsLink)</dd>
                }

            <dt class="">@Html.DisplayNameFor(model => model.MeetingAgendaPoints)</dt>
            <dd class="printing-border-top-medium printing-border-ridge">
                @{
                    if (!Model.MeetingAgendaPoints.Any())
                    {
                        @:Der er ingen tilknyttede færdselsmødepunkter.
                    }
                    for (var i = 0; i < Model.MeetingAgendaPoints.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Id)
                        <div class="printing-border-top-thin @(i%2 == 1 ? "bg-info" : "")">
                            <div class="row hidden-print">
                                <div class="col-sm-3 col-lg-2"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].Id)</b></div>
                                <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].Id</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-lg-2"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].Number)</b></div>
                                <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].Number</div>
                            </div>
                            @if (@Model.MeetingAgendaPoints[i].AgendaPoint.AddressId != MeetingController.AgendaPointZeroAddressId)
                            {
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressId)</b></div>
                                    <div class="col-sm-9 col-lg-10 aws-address-id" data-aws-id="@Model.MeetingAgendaPoints[i].AgendaPoint.AddressId">Henter adresse...</div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-3 col-lg-2"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)</b></div>
                                <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].AgendaPoint.Description</div>
                            </div>

                            @if (Model.MeetingAgendaPoints[i].AgendaPoint.Documents.Count() > 0)
                            {
                                <div class="row">
                                    <div class="col-sm-5">
                                        <b>Filer:</b>
                                    </div>
                                    <div class="col-sm-9">
                                        @foreach (var doc in Model.MeetingAgendaPoints[i].AgendaPoint.Documents)
                                        {
                                            <b>@doc.FileName</b><text>:</text>
                                            @doc.Comment<br/><br/>
                                        }
                                    </div>
                                </div>

                            }

                            @if (Model.MeetingAgendaPoints[i].AgendaPoint.ResponsiblePersonName != null)
                            {
                            <div class="row">
                                <div class="col-sm-3 col-lg-2"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.ResponsiblePersonName)</b></div>
                                <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].AgendaPoint.ResponsiblePersonName</div>
                            </div>
                            }

                            @if (!String.IsNullOrEmpty(@Model.MeetingAgendaPoints[i].AgendaPoint.Conclusion))
                            {
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion)</b></div>
                                    <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].AgendaPoint.Conclusion</div>
                                </div>
                            }

                            @if (!String.IsNullOrEmpty(@Model.MeetingAgendaPoints[i].AgendaPoint.Agreement))
                            {
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement)</b></div>
                                    <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].AgendaPoint.Agreement</div>
                                </div>
                            }
                        </div>
                    }
                }
            </dd>

            <dt class="hidden-print">@Html.DisplayNameFor(model => model.IsSummaryLocked)</dt>
            <dd class="hidden-print">
                @if (Model.IsSummaryLocked)
                {
                    <span><span class="glyphicon glyphicon-lock"></span>Referat låst</span>
                }
                else
                {
                    <a href="@Url.Action("CreateSummaries", new { id = Model.Id })">Tilføj mødereferat</a>
                }
            </dd>

            @* TODO: Find out if this field should be kept *@
            @*<dt class="printing-border-top-thin">@Html.DisplayNameFor(model => model.AcceptedOn)</dt>
            <dd>
                @if (Model.AcceptedOn != null)
                {
                    @Html.DisplayFor(model => model.AcceptedOn)
                }
                else
                {
                    @:Mødet er ikke godkendt.
                }
            </dd>*@
        </dl>
    </div>
</div>
<p class="hidden-print">
    @Html.ActionLink("Rediger", "Edit", new { id = Model.Id }) @if (Model.MeetingAgendaPoints != null && Model.MeetingAgendaPoints.Count != 0)
    {<span>|</span> @Html.ActionLink("Mødereferat", "CreateSummaries", new { id = Model.Id })} | @Html.ActionLink("Tilbage til listen", "Index")
    <button class="btn btn-primary pull-right" id="printBtn" onclick="printPage()">
        <span class="glyphicon glyphicon-print"></span>
        <span> Print Dagsorden</span>
    </button>
</p>

@section Scripts{
    <script>
        function printPage() {
            window.print();
        }
    </script>
}
