﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.Meeting.IndexMeetingViewModel>
@{
    ViewBag.Title = "Færdselsmøder";
}

<h2>Færdselsmøder</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj færdselsmøde</a>
    </div>
    <hr />
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <p>Der er ikke oprettet nogen færdselsmøder.</p>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped" id="data-table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Location)</th>
                            <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                            <th class="no-sort"></th>
                            <th class="no-sort"></th>
                            @if (AdHelper.InRole(AdHelper.Role.Admin))
                            {
                                <th class="no-sort"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var meeting in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => meeting.Id)</td>
                                <td>@Html.DisplayFor(modelItem => meeting.Date)</td>
                                <td>@Html.DisplayFor(modelItem => meeting.Location)</td>
                                <td>@Html.DisplayFor(modelItem => meeting.CreatedOn)</td>
                                <td>
                                    @if (meeting.IsSummaryLocked)
                                    {
                                        <span>
                                            <span class="glyphicon glyphicon-lock"></span>
                                            <a href="@Url.Action("CreateSummaries", new {id = meeting.Id})"> Referat Låst</a>
                                        </span>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("CreateSummaries", new {id = meeting.Id})">
                                            @if (meeting.IsMeetingAgendaPointSummaryStringsEmpty() == false)
                                            {
                                                <del>Mødereferat</del>
                                            }
                                            else if (!meeting.IsMeetingAgendaPointsEmpty())
                                            {
                                                @:Mødereferat
                                            }
                                        </a>
                                    }
                                </td>
                                @if (AdHelper.InRole(AdHelper.Role.Admin))
                                {
                                    <td>
                                        @if (meeting.IsSummaryLocked)
                                        {
                                            @Html.ActionLink("Lås referat op", "UnlockSummary", new { id = meeting.Id })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Lås referat", "LockSummary", new { id = meeting.Id })

                                        }
                                    </td>
                                }
                                <td>
                                    <a href="@Url.Action("Edit", new { id = meeting.Id })"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                                    <a href="@Url.Action("Details", new { id = meeting.Id })"><span class="glyphicon glyphicon-list-alt text-warning"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
