﻿@media print {
    .printing-border-top-medium {
        border-top: medium solid #000000;
    }

    .printing-border-top-thin {
        border-top: thin solid #000000;
    }

    .printing-border-ridge{
        border-style: ridge;
    }

    .printing-new-page {
        page-break-after: always;
    }

    a[href]:after {
        content: none !important;
    }
}
