﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-cba {
    background-color: #5581c0;
}

.navbar a,
.navbar p {
    color: #ffffff;
}

.navbar li a:hover {
    background-color: #668EC6;
}

nav .container-fluid {
    padding-right: 0;
}

.navbar-user {
    background-color: #34598e;
}

.navbar {
    border-radius: 0;
}

@media (max-width: 768px) {
    .dropdown-menu li a,
    .dropdown-menu li a:hover {
        color: #FFFFFF;
    }
}

.bg-orange
{
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bg-info {
    background-color: #EEF2F9;
    border-color: #EEF2F9;
}

.navbar-toggle span {
    background-color: #FFFFFF;
}

.navbar-btn-cba {
    -ms-border-radius: 1.2em;
    border-radius: 1.2em;
}

/* For truncating table description*/
.truncate {
    max-width: 100px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    min-height: 120px;
    min-width: 100px;
    overflow: auto;
}

.note {
    min-height: 75px;
    min-width: 100px;
    overflow: auto;
}


.description-details {
    max-height: 120px;
    min-width: 100px;
    overflow: auto;
}

.note-details {
    max-height: 75px;
    min-width: 100px;
    overflow: auto;
}

.summary {
    resize: vertical;
    min-height: 150px;
}

/* Color select2 odd options */
.select2-results ul li:nth-child(odd) {
    background-color: #DDE6F2;
}

#drop_zone {
    border: 2px dashed #BBB;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #BBB;
}

.doc-text-area {
    max-width: 120px;
    height: 75px;
}

dl.description-left-allign *{
    text-align: left;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.agenda-point {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Datatables */
table.dataTable.dtr-column > tbody > tr > td.control:before {
    left: 105%;
}
