﻿@model IEnumerable<Presentation.Web.Models.InvitedPerson.InvitedPersonViewModel>

@{
    ViewBag.Title = "Standard inviterede personer";
}

<h2>Standard inviterede personer</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj standard inviteret person</a>
    </div>
    <hr />
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <p>Der er ikke oprettet nogen standard inviterede personer.</p>
            </div>
        </div>
    }
    else
    {

        <table class="table table-striped" id="data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invitedPerson in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => invitedPerson.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => invitedPerson.IsActive)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = invitedPerson.Id })"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                            <a href="@Url.Action("Delete", new { id = invitedPerson.Id })"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
