﻿@model IEnumerable<Presentation.Web.Models.LocalCommunity.IndexLocalCommunityViewModel>
@{
    ViewBag.Title = "Lokalsamfund";
}

<h2>Lokalsamfund</h2>

<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj lokalsamfund</a>
    </div>
    <hr />

    @if (!Model.Any())
    {
        <p>Der er ikke oprettet nogen lokalsamfund.</p>
    }
    else
    {
        <table class="table" id="data-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Number)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th class="no-sort"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var localCommunity in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => localCommunity.Number)</td>
                        <td>@Html.DisplayFor(model => localCommunity.Name)</td>
                        <td>@Html.DisplayFor(model => localCommunity.IsActive)</td>
                        <td class="text-right">
                            <a href="@Url.Action("Edit", new {id = localCommunity.Id})"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                            <a href="@Url.Action("Delete", new {id = localCommunity.Id})"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
