﻿@model Presentation.Web.Models.Search.SearchViewModel
@{
    ViewBag.Title = "Søg";
}

<h2>Søg</h2>
<hr class="hidden-xs" />

@if (ViewBag.NoSearchParameters == true)
{
    <p class="text-danger">Indtast minimum ét søgekriterie og afkryds minimum én boks.</p>
}

@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Address, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @{
                    var selectedAddress = new List<SelectListItem> {new SelectListItem()}; // Empty item to enable dropdown clearing with select2
                    if (Model != null)
                    {
                        selectedAddress.Add(new SelectListItem {Value = Model.Address, Selected = true});
                    }
                }
                @Html.DropDownListFor(model => model.Address, selectedAddress, new {@class = "form-control", id = "address-search", style = "width: 100%", data_only_road_names = "1"})
                @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectStatus, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.EnumDropDownListFor(model => model.ProjectStatus, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ProjectStatus, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgendaPointStatus, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.EnumDropDownListFor(model => model.AgendaPointStatus, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.AgendaPointStatus, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TopicId, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.TopicId, ViewBag.TopicList as List<SelectListItem>, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.TopicId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.EditorFor(model => model.ProjectId, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ProjectId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetingId, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.EditorFor(model => model.MeetingId, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.MeetingId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CouncilId, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                <select name="@Html.NameFor(model => model.CouncilId)" id="CouncilSelect" class="form-control">
                    <option value=""></option>
                    @foreach (var council in ViewBag.Councils)
                    {
                        <option value="@council.Id" data-group-id="@council.GroupId">@council.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CouncilId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.GroupId, ViewBag.GroupList as List<SelectListItem>, "", new {@class = "form-control", @id = "GroupSelect"})
                @Html.ValidationMessageFor(model => model.GroupId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-sm-3"})
            <div class="col-sm-4">
                @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control", placeholder = "Fra"}})
                @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control", placeholder = "Til"}})
                @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SearchInAgendaPoints, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.CheckBoxFor(model => model.SearchInAgendaPoints, new {@class = "checkbox"})
                @Html.ValidationMessageFor(model => model.SearchInAgendaPoints, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SearchInProjects, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.CheckBoxFor(model => model.SearchInProjects, new {@class = "checkbox"})
                @Html.ValidationMessageFor(model => model.SearchInProjects, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 col-xs-4 col-sm-offset-3">
                <input type="submit" value="Søg" class="form-control btn btn-success"/>
            </div>
            <div class="col-sm-7 col-xs-8">
                <input type="reset" value="Nulstil" class="btn btn-danger"/>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            var groupSelect = $('#GroupSelect');
            var councilSelect = $('#CouncilSelect');
            var allOptions = new Array();

            councilSelect.find('option').each(function () {
                if ($(this).val() !== '') {
                    allOptions.push({
                        value: $(this).val(),
                        text: $(this).text(),
                        groupId: $(this).attr('data-group-id'),
                    });
                }
            });

            var filterCouncils = function() {
                var selectedGroup = groupSelect.val();

                councilSelect.empty();
                $('<option></option>').appendTo(councilSelect);

                $(allOptions).each(function(i, option) {
                    var councilGroup = $(this).attr('data-group-id');

                    if (selectedGroup === '' || selectedGroup === option.groupId)
                        $('<option></option>').val(option.value).text(option.text).appendTo(councilSelect);
                });
            };

            groupSelect.on('change', filterCouncils);
            filterCouncils();
        });
    </script>
}
