﻿@using Presentation.Web.Models.Search
@model System.Collections.Generic.IEnumerable<Presentation.Web.Models.Search.ProjectViewModel>

@{
    ViewBag.Title = "Fremsøgte projekter";
}

<h2 class="page-header">Fremsøgte projekter</h2>

<button class="hidden-print btn btn-primary pull-right" onclick="printPage()">
    <span class="glyphicon glyphicon-print"></span>
    <span> Print projekter</span>
</button>

@{
    var modelGroupedByGroup = Model.GroupBy(o => o.Group).ToList();
    var ungroupedProjects = new List<ProjectViewModel>();
}

@for (int i = 0; i < modelGroupedByGroup.Count(); i++)
{
    if (modelGroupedByGroup.ElementAt(i).Key == null) // if no group add to ungrouped
    {
        var groupedProject = modelGroupedByGroup.ElementAt(i);

        foreach (var id in groupedProject.Select(o => o.Id).ToList()) // add all ungrouped projects
        {
            var p = Model.Single(o => o.Id == id);
            ungroupedProjects.Add(p);
        }
        continue;
    }

    <h4>Gruppe: @modelGroupedByGroup.ElementAt(i).Key.Name</h4>
    foreach (var proj in modelGroupedByGroup.ElementAt(i).GroupBy(o => o.Council))
    {
        if (proj.Key != null)
        {
            <h6>Fællesråd: @proj.Key.Name</h6>
        }

        var projects = modelGroupedByGroup.ElementAt(i).Where(o => o.Council == proj.Key);

        foreach (var pr in projects)
        {
            <div class="row">
                <div class="col-sm-12">
                    <dl class="dl-horizontal printing-border-ridge">
                        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
                        <dd>@Html.DisplayFor(model => pr.Id)</dd>

                        @{
                        if (pr.Description != null)
                        {
                            <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                            <dd>@Html.DisplayFor(model => pr.Description)</dd>
                        }
                        }
                        @{
                        if (pr.AddressId != null)
                        {
                            <dt>@Html.DisplayNameFor(model => model.AddressId)</dt>
                            <dd class="aws-address-id" data-aws-id="@pr.AddressId">Henter adresse...</dd>
                        }
                        }
                            <dt>@Html.DisplayNameFor(model => model.CouncilPriority)</dt>
                            <dd>@Html.DisplayFor(model => pr.CouncilPriority)</dd>

                            <dt>@Html.DisplayNameFor(model => model.MunicipalityPriority)</dt>
                            <dd>@Html.DisplayFor(model => pr.MunicipalityPriority)</dd>

                            <dt>@Html.DisplayNameFor(model => model.Budget)</dt>
                            <dd>@Html.DisplayFor(model => pr.Budget)</dd>
                        @{
                        if (pr.ConstructionProgram != null)
                        {
                            <dt>@Html.DisplayNameFor(model => model.ConstructionProgram)</dt>
                            <dd>@Html.DisplayFor(model => pr.ConstructionProgram)</dd>
                        }
                        }

                        @{
                        if (pr.LocalCommunity != null)
                        {
                            <dt>@Html.DisplayNameFor(model => model.LocalCommunity)</dt>
                            <dd>@Html.DisplayFor(model => pr.LocalCommunity)</dd>
                        }
                        }
                    </dl>
                </div>
            </div>
        }
    }

    if ((modelGroupedByGroup.ElementAt(i).Count() > 1 && i != Model.GroupBy(o => o.Group).Count() - 1)
        || (i == Model.GroupBy(o => o.Group).Count() - 1 &&  ungroupedProjects.Any()))
    {
        <hr class="printing-new-page" />
    }
}

    @{
        if (ungroupedProjects.Any())
        {
            <h4>Projekter uden gruppe</h4>
        }
    }

    @foreach (var proj in ungroupedProjects.GroupBy(o => o.Council))
    {
        if (proj.Key != null)
        {
             <h6>Fællesråd: @proj.Key.Name</h6>
        }
        var projects = ungroupedProjects.Where(o => o.Council == proj.Key);

        foreach (var pr in projects)
        {
        <div class="row">
            <div class="col-sm-12">
                <dl class="dl-horizontal printing-border-ridge">
                    <dt>@Html.DisplayNameFor(model => model.Id)</dt>
                    <dd>@Html.DisplayFor(model => pr.Id)</dd>

                    @{
                        if (pr.Description != null)
                        {
                            <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                            <dd>@Html.DisplayFor(model => pr.Description)</dd>
                        }
                    }
                    @{
                        if (pr.AddressId != null)
                        {
                            <dt>@Html.DisplayNameFor(model => model.AddressId)</dt>
                            <dd class="aws-address-id" data-aws-id="@pr.AddressId">Henter adresse...</dd>
                        }
                    }
                    <dt>@Html.DisplayNameFor(model => model.CouncilPriority)</dt>
                    <dd>@Html.DisplayFor(model => pr.CouncilPriority)</dd>

                    <dt>@Html.DisplayNameFor(model => model.MunicipalityPriority)</dt>
                    <dd>@Html.DisplayFor(model => pr.MunicipalityPriority)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Budget)</dt>
                    <dd>@Html.DisplayFor(model => pr.Budget)</dd>

                    @{
                        if (pr.ConstructionProgram != null)
                        {
                            <dt>@Html.DisplayNameFor(model => model.ConstructionProgram)</dt>
                            <dd>@Html.DisplayFor(model => pr.ConstructionProgram)</dd>
                        }
                    }

                    @{
                        if (pr.LocalCommunity != null)
                        {
                            <dt>@Html.DisplayNameFor(model => model.LocalCommunity)</dt>
                            <dd>@Html.DisplayFor(model => pr.LocalCommunity)</dd>
                        }
                    }
                </dl>
            </div>
        </div>
    }
}

@section Scripts{
    <script>
        function printPage() {
            window.print();
        }
    </script>
}
