﻿@model Presentation.Web.Models.Search.ResultsViewModel
@{
    ViewBag.Title = "Søgeresultater";
}

<h2>Søgeresultater</h2>
<hr class="hidden-xs" />

<p>Der blev fundet @Model.Count() resultater.</p>
<a href="javascript:history.back()" title="Gå tilbage til søgeformularen">Tilbage til søgeformularen</a>

@if (Model.Projects.Any())
{
    <h3>@Html.DisplayNameFor(model => model.Projects)</h3>

    <table class="dataTable table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().AddressId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().ExpectedStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().ExpectedEndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().StreetType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().ProjectLeaderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().CouncilPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().MunicipalityPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().TemporaryAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().Budget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.First().Status)
                </th>
                <th class="modifier"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => project.Id)
                    </td>
                    <td class="aws-address-id" data-aws-id="@project.AddressId">
                        Henter adresse...
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.ExpectedStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.ExpectedEndDate)
                    </td>
                    <td class="truncate">
                        <div class="truncate">
                            @Html.DisplayFor(modelItem => project.Description)
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.StreetType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.ProjectLeaderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.CouncilPriority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.MunicipalityPriority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.TemporaryAddress)
                    </td>
                    <td data-order="@int.Parse(project.Budget.ToString().Replace('.', ' ').Trim())">
                        @Html.DisplayFor(modelItem => project.Budget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.Status)
                    </td>
                    <td class="text-right">
                        <a href="@Url.Action("Details", "Project", new {id = project.Id})"><span class="glyphicon glyphicon-list-alt text-warning"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    var projectIds = Model.Projects.Select(o => o.Id);
    var routeValues = new RouteValueDictionary();
    var index = 0;
    foreach (var id in projectIds)
    {
        routeValues.Add("projectIds[" + index++ + "]", id);
    }

    <a class="btn btn-primary pull-right" href="@Url.Action("PrintSearchResults", routeValues)">
        <span class="glyphicon glyphicon-print"></span>
        <span> Print projekter</span>
    </a>
}

@if (Model.AgendaPoints.Any())
{
    <h3>@Html.DisplayNameFor(model => model.AgendaPoints)</h3>

    <table class="dataTable table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AgendaPoints.First().AddressId)</th>
                <th>@Html.DisplayNameFor(model => model.AgendaPoints.First().ResponsiblePersonName)</th>
                <th>@Html.DisplayNameFor(model => model.AgendaPoints.First().StreetType)</th>
                <th>@Html.DisplayNameFor(model => model.AgendaPoints.First().TopicName)</th>
                <th>@Html.DisplayNameFor(model => model.AgendaPoints.First().Description)</th>
                <th>@Html.DisplayNameFor(model => model.AgendaPoints.First().Status)</th>
                <th>@Html.DisplayNameFor(model => model.AgendaPoints.First().MeetingIds)</th>
                <th>@Html.DisplayNameFor(model => model.AgendaPoints.First().CreatedOn)</th>
                <th class="modifier"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agendaPoint in Model.AgendaPoints)
            {
                <tr>
                    <td class="aws-address-id" data-aws-id="@agendaPoint.AddressId">Henter adresse...</td>
                    <td>@Html.DisplayFor(model => model.AgendaPoints.First().ResponsiblePersonName)</td>
                    <td>@Html.DisplayFor(model => model.AgendaPoints.First().StreetType)</td>
                    <td>@Html.DisplayFor(model => model.AgendaPoints.First().TopicName)</td>
                    <td>@Html.DisplayFor(model => model.AgendaPoints.First().Description)</td>
                    <td>@Html.DisplayFor(model => model.AgendaPoints.First().Status)</td>
                    <td>@Html.DisplayFor(model => model.AgendaPoints.First().MeetingIds)</td>
                    <td>@Html.DisplayFor(model => model.AgendaPoints.First().CreatedOn)</td>
                    <td class="text-right">
                        <a href="@Url.Action("Details", "AgendaPoint", new { id = agendaPoint.Id })"><span class="glyphicon glyphicon-list-alt text-warning"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(function () {
            $('.dataTable').DataTable({
                "pagingType": "full_numbers",
                "language": // Danish language
                {
                    "url": "@Url.Content("~/Content/DataTables/language/DanishLangDataTable.json")"
                },
                "searching": false,
                "stateSave": true,
                "columnDefs": [
                {
                    "targets": "modifier",
                    "orderable": false
                }]
            });
        });
    </script>
}
