﻿@model Presentation.Web.Models.Group.DeleteGroupViewModel
@{
    ViewBag.Title = "Slet gruppe";
}

<h2>Slet gruppe</h2>
<hr class="hidden-xs" />

<h3>Denne gruppe kan ikke slettes</h3>
<p>
    Denne gruppe har fællesråd tilknyttet og kan derfor ikke slettes.
    @Html.ActionLink("Tilbage til listen", "Index")
</p>
