﻿@model IEnumerable<Presentation.Web.Models.Group.IndexGroupViewModel>
@{
    ViewBag.Title = "Grupper";
}

<h2>Grupper</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj gruppe</a>
    </div>
    <hr />
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <p>Der er ikke oprettet nogen grupper.</p>
            </div>
        </div>
    }

    else
    {
        <table class="table table-striped" id="data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => g.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => g.IsActive)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = g.Id })"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                            <a href="@Url.Action("Delete", new { id = g.Id })"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
