﻿@model IEnumerable<Presentation.Web.Models.ProjectLeader.IndexProjectLeaderViewModel>
@{
    ViewBag.Title = "Projektledere";
}

<h2>Projektledere</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj Projektleder</a>
    </div>
    <hr />

    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <p>Der er ikke oprettet nogen rådgivere.</p>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <table class="table table-striped" id="data-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Initials)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var projectLeader in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => projectLeader.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => projectLeader.Initials)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => projectLeader.IsActive)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = projectLeader.Id })"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                                <a href="@Url.Action("Delete", new { id = projectLeader.Id })"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
