﻿@model IEnumerable<Presentation.Web.Models.Advisor.IndexAdvisorViewModel>
@{
    ViewBag.Title = "Rådgivere";
}

<h2>Rådgivere</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj rådgiver</a>
    </div>
    <hr />
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <p>Der er ikke oprettet nogen rådgivere.</p>
            </div>
        </div>
    }
        <table class="table table-striped" id="data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Company.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResponsiblePersonName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResponsiblePersonPhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var advisor in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => advisor.Company.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => advisor.ResponsiblePersonName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => advisor.ResponsiblePersonPhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => advisor.IsActive)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new {id = advisor.Id})"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                            <a href="@Url.Action("Delete", new {id = advisor.Id})"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

</div>
