﻿@model Presentation.Web.Models.ConstructionProgram.DeleteConstructionProgramViewModel
@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>
@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette dette anlægsprogram?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YearOfProjectInvolvement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfProjectInvolvement)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Slet" class="btn btn-danger" /> @:| @Html.ActionLink("Tilbage til listen", "Index")
    }
</div>
