﻿@model IEnumerable<Presentation.Web.Models.Topic.IndexTopicViewModel>
@{
    ViewBag.Title = "Emner";
}

<h2>Emner</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj emne</a>
        </div>
    </div>
    <hr />
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <p>Der er ikke oprettet nogen emner.</p>
            </div>
        </div>
    }
    else
    {

        <table class="table table-striped" id="data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var topic in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => topic.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => topic.IsActive)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = topic.Id })"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                            <a href="@Url.Action("Delete", new { id = topic.Id })"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
