﻿@model IEnumerable<Presentation.Web.Models.Company.IndexCompanyViewModel>

@{
    ViewBag.Title = "Virksomheder";
}

<h2>Virksomheder</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj virksomhed</a>
    </div>
    <hr />
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <p>Der er ikke oprettet nogen virksomheder.</p>
            </div>
        </div>
    }
    <table class="table table-striped" id="data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>

                <th class="no-sort"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => company.IsActive)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new {id = company.Id})"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                        <a href="@Url.Action("Delete", new {id = company.Id})"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>