﻿@model Presentation.Web.Models.DefaultPhrase.DefaultPhraseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<div>
    <h4>DefaultPhrase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phrase)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Rediger", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
