﻿@model Presentation.Web.Models.DefaultPhrase.DefaultPhraseViewModel
@{
    ViewBag.Title = "Rediger standardfrase";
}

<h2>Rediger standardfrase</h2>
@Html.Partial("CreatedModifiedPartialView")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CreatedOn)
    @Html.HiddenFor(model => model.CreatedBy)
    
    <div class="row">
        <div class="col-md-12">
            <hr class="hidden-xs" />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Phrase, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Phrase, new { htmlAttributes = new { @class = "form-control", placeholder = "Skriv en standardfrase", rows = "5" } })
                    @Html.ValidationMessageFor(model => model.Phrase, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "checkbox" } })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <input type="submit" value="Gem" class="btn btn-success" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>
