﻿@model IEnumerable<Presentation.Web.Models.DefaultPhrase.DefaultPhraseViewModel>
@{
    ViewBag.Title = "Standardfraser";
}

<h2>Standardfraser</h2>

<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj standardfrase</a>
    </div>
    <hr />

    <div class="row">
        @{
            if (!Model.Any())
            {
                <div class="col-xs-12">
                    <p>Der er ikke oprettet nogen standardfraser.</p>
                </div>
            }
            else
            {
                <table class="table table-striped" id="data-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Phrase)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var defaultPhrase in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => defaultPhrase.Phrase)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => defaultPhrase.IsActive)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = defaultPhrase.Id })"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                                    <a href="@Url.Action("Delete", new { id = defaultPhrase.Id })"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>
