﻿@model Presentation.Web.Models.AgendaPoint.CreateAgendaPointViewModel
@{
    ViewBag.Title = "Opret færdselsmødepunkt";
}

<h2>Opret færdselsmødepunkt</h2>

@using (Html.BeginForm("Create", "AgendaPoint", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr class="hidden-xs" />

        <div class="form-group">
            @Html.LabelFor(model => model.AddressId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @{
                    var selectedAddress = new List<SelectListItem> { new SelectListItem() }; // Empty item to enable dropdown clearing with select2
                    if (Model != null && Model.AddressId != Guid.Empty)
                    {
                        selectedAddress.Add(new SelectListItem { Value = Model.AddressId.ToString(), Selected = true });
                    }
                }
                @Html.DropDownListFor(model => model.AddressId, selectedAddress, new { @class = "form-control", id = "address-search", style = "width: 100%", data_auto_expand = "1" })
                @Html.ValidationMessageFor(model => model.AddressId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.Area, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="SearchInAarhus">Søg i Aarhus?</label>
            <div class="col-sm-10">
                <input class="checkbox" type="checkbox" checked name="SearchInAarhus" id="aarhusAddresses" value="true" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResponsiblePersonName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.ResponsiblePersonName, new { htmlAttributes = new { @class = "form-control", placeholder = "Center, Team, Initialer" } })
                @Html.ValidationMessageFor(model => model.ResponsiblePersonName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StreetType, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.StreetType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StreetType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TopicId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.TopicId, ViewBag.TopicList as List<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TopicId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgendaPointStatus, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.AgendaPointStatus, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AgendaPointStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <select id="project-id-search" data-ajax--url="@Url.Action("GetProjectsById", "Project")" data-placeholder="" name="ProjectId" class="form-control" style="width: 100%">
                    @if (Model.ProjectId != 0 && Model.ProjectId != null)
                    {
                        <option selected="selected" value="@Model.ProjectId">@ViewBag.ProjectTopic</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetingIds, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div>
                    <select multiple name="MeetingIds" id="meeting-ids" class="form-control" style="width: 100%">
                        @foreach (var id in Model.MeetingIds)
                        {
                            <option selected="selected">@id</option>
                        }
                    </select>
                </div>
                <span class="help-block">Separer IDer med mellemrum eller komma.</span>
                @Html.ValidationMessageFor(model => model.MeetingIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiscussedWithPartners, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.DiscussedWithPartners, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiscussedWithPartners, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Documents, new { @class = "control-label col-sm-2" })
            <div id='drop_zone' class="col-sm-offset-2">
                <button type="button" class='btn-danger' id="removeAllImages">X</button>
                <div action="@Url.Action("SaveUploadedFile", "AgendaPoint")" class='dropzone' id='myDropZone'></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" value="Opret" id="submit" class="btn btn-success" />
                <input type="submit" style="display: none" id="hidden-submit" value="Opret" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            // File upload
            var index = 0;
            var responseIndex = 0;
            var submit = $('#submit');
            var hiddenSubmit = $('#hidden-submit');
            Dropzone.autoDiscover = true;
            Dropzone.options.myDropZone = {
                init: function() {
                    myDropZone = this;
                    submit.click(function() {
                            // get jquery validator state
                            var form = $("#form");
                            form.validate();
                            if (form.valid() == true) {
                                myDropZone.processQueue();
                                if (responseIndex == index) {
                                    hiddenSubmit.click();
                                }
                            }
                        }),
                        $("#removeAllImages").click(function() {
                            myDropZone.removeAllFiles();
                            index = 0;
                            responseIndex = 0;
                        });
                    this.on("processing", function() {
                        this.options.autoProcessQueue = true;
                    });
                    this.on("success", function(data) {
                        var res = JSON.parse(data.xhr.responseText);

                        // hidden elements to send to server
                        var guid = Dropzone.createElement("<input hidden name = 'Documents[" + responseIndex + "].Guid' value = " + res.Guid.toString() + ">");

                        responseIndex++;
                        var dropzone = $('#drop_zone');
                        dropzone.append(guid);
                        if (responseIndex == index)
                            hiddenSubmit.click();
                    });
                    this.on('sending', function(file, xhr, formData) {
                        var comment = file.previewElement.lastElementChild.value;
                        formData.append('comment', comment);
                    });
                    this.on("addedfile", function(file) {
                        // Create the remove button
                        var commentField = Dropzone.createElement(
                            "<textarea id = '" + index + "' class = 'doc-text-area' name = 'Documents[" + index + "].Comment'>");

                        index++;
                        var removeButton = Dropzone.createElement(
                            "<button class='btn-danger'>Slet fil</button>");
                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();

                            // decrement index
                            index--;

                            // Remove the file preview.
                            _this.removeFile(file);
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        file.previewElement.appendChild(commentField);
                    });
                },
                dictDefaultMessage: "Træk og slip for at uploade dokumenter",
                uploadMultiple: false,
                autoProcessQueue: false,
                paramName: "file",
            };

            var projectSearch = $("#project-id-search");
            var meetingIds = $("#meeting-ids");

            meetingIds.select2({
                tags: true,
                tokenSeparators: [" ", ","],
                dropdownCssClass: "hide",
                language: "da"
            });

            projectSearch.select2({
                ajax: {
                    dataType: "json",
                    delay: 250,
                    data: function(params) {
                        var ret = {
                            id: params.term
                        };

                        return ret;
                    },
                    processResults: function(data) {
                        var result = [];

                        data.forEach(function(d) {
                            result.push({ id: d.Id, text: d.Name });
                        });

                        var ret = {
                            results: result
                        };

                        return ret;
                    },
                    cache: true
                },
                escapeMarkup: function(markup) {
                    return markup;
                },
                minimumInputLength: 1,
                language: "da",
                allowClear: true
            });
        });
    </script>
}
