﻿@model Presentation.Web.Models.AgendaPoint.DeleteAgendaPointViewModel
@{
    ViewBag.Title = "Slet";
}

<h2>Slet</h2>

@Html.Partial("CreatedModifiedPartialView")

<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette mødepunktet?</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Id)</dt>
                <dd>@Html.DisplayFor(model => model.Id)</dd>
                
                <dt>@Html.DisplayNameFor(model => model.AddressId)</dt>
                <dd class="aws-address-id" data-aws-id="@Model.AddressId">Henter addresse...</dd>

                <dt>@Html.DisplayNameFor(model => model.ResponsiblePersonName)</dt>
                <dd>@Html.DisplayFor(model => model.ResponsiblePersonName)</dd>

                <dt>@Html.DisplayNameFor(model => model.StreetType)</dt>
                <dd>@Html.DisplayFor(model => model.StreetType)</dd>
                
                <dt>@Html.DisplayNameFor(model => model.TopicName)</dt>
                <dd>@Html.DisplayFor(model => model.TopicName)</dd>

                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>

                <dt>@Html.DisplayNameFor(model => model.Conclusion)</dt>
                <dd>@Html.DisplayFor(model => model.Conclusion)</dd>

                <dt>@Html.DisplayNameFor(model => model.Agreement)</dt>
                <dd>@Html.DisplayFor(model => model.Agreement)</dd>

                <dt>@Html.DisplayNameFor(model => model.AgendaPointStatus)</dt>
                <dd>@Html.DisplayFor(model => model.AgendaPointStatus)</dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectTopic)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectTopic)</dd>

                <dt>@Html.DisplayNameFor(model => model.Documents)</dt>
                <dd>
                    @foreach (var doc in Model.Documents)
                    {
                        <p>
                            <a href="@Url.Action("Download", "AgendaPoint" , new { guid=doc.Guid })">@Html.DisplayFor(d => doc.FileName)</a><br />
                            <span>
                                @Html.DisplayFor(model => doc.Comment)
                            </span>
                        </p>
                    }
                </dd>
                
                <dt>@Html.DisplayNameFor(model => model.ProjectTopic)</dt>
                <dd>
                    @if (Model.ProjectId != null && Model.ProjectTopic != null)
                    {
                        @Html.ActionLink("" + Model.ProjectTopic + " (ID: " + Model.ProjectId + ")", "Details", "Project", new { id = Model.ProjectId }, null)
                    }
                    else
                    {
                        @:Intet projekt er tilknyttet dette punkt
                    }
                </dd>

                <dt>@Html.DisplayNameFor(model => model.PreviousMeetings)</dt>
                <dd>
                    @foreach (var meetingId in Model.PreviousMeetings)
                    {
                        <span>@meetingId.Id</span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Slet" class="btn btn-danger" /> | @Html.ActionLink("Gå tilbage", "Index") | @Html.ActionLink("Rediger", "Edit", new { id = Model.Id })
            </div>
        </div>
    }
</div>
