﻿@using System.Activities.Statements
@model Presentation.Web.Models.AgendaPoint.DetailsAgendaPointViewModel
@{
    ViewBag.Title = "Se færdselsmødepunkt";
}

<h2>Færdselsmødepunkt</h2>

@Html.Partial("CreatedModifiedPartialView")

<div>
    <hr class="hidden-xs" />

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.AddressId)</dt>
        <dd class="aws-address-id" data-aws-id="@Model.AddressId">Henter adresse...</dd>

        <dt>@Html.DisplayNameFor(model => model.Area)</dt>
        <dd>@Html.DisplayFor(model => model.Area)</dd>

        <dt>@Html.DisplayNameFor(model => model.ResponsiblePersonName)</dt>
        <dd>@Html.DisplayFor(model => model.ResponsiblePersonName)</dd>

        <dt>@Html.DisplayNameFor(model => model.StreetType)</dt>
        <dd>@Html.DisplayFor(model => model.StreetType)</dd>

        <dt>@Html.DisplayNameFor(model => model.TopicName)</dt>
        <dd>@Html.DisplayFor(model => model.TopicName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.Conclusion)</dt>
        <dd>@Html.DisplayFor(model => model.Conclusion)</dd>

        <dt>@Html.DisplayNameFor(model => model.Agreement)</dt>
        <dd>@Html.DisplayFor(model => model.Agreement)</dd>

        <dt>@Html.DisplayNameFor(model => model.AgendaPointStatus)</dt>
        <dd>@Html.DisplayFor(model => model.AgendaPointStatus)</dd>

        <dt>@Html.DisplayNameFor(model => model.Documents)</dt>
        <dd>
            @foreach (var doc in Model.Documents)
            {
                <p>
                    <a href="@Url.Action("Download", "AgendaPoint" , new { guid=doc.Guid })">@Html.DisplayFor(d => doc.FileName)</a><br />
                    <span>
                        @Html.DisplayFor(model => doc.Comment)
                    </span>
                </p>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.ProjectTopic)</dt>
        <dd>
            @if (Model.ProjectId != null && Model.ProjectTopic != null)
            {
                @Html.ActionLink("" + Model.ProjectTopic + " (ID: " + Model.ProjectId + ")", "Details", "Project", new { id = Model.ProjectId }, null)
            }
            else
            {
                @:Intet projekt er tilknyttet dette punkt
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.PreviousMeetings)</dt>
        <dd>
            @foreach (var meetingId in Model.PreviousMeetings)
            {
                <span>@Html.ActionLink("" + meetingId.Id, "Details", "Meeting", new { id = meetingId.Id }, null)</span>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.DiscussedWithPartners)</dt>
        <dd>@Html.DisplayFor(model => model.DiscussedWithPartners)</dd>

        @if (Model.MeetingAgendaPoint != null)
        {
            <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoint.MeetingId)</dt>
            <dd>
                @Html.ActionLink("" + Model.MeetingAgendaPoint.MeetingId, "Details", "Meeting", new { id = Model.MeetingAgendaPoint.MeetingId }, null)
            </dd>
        }
    </dl>
</div>

@using (Html.BeginForm("CopyAgendaPoint", "AgendaPoint", FormMethod.Post, new {id = "form"}))
{
    <p>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AddressId)
        @Html.HiddenFor(model => model.ResponsiblePersonName)
        @Html.HiddenFor(model => model.StreetType)
        @Html.HiddenFor(model => model.TopicId)
        @Html.HiddenFor(model => model.Description)
        @if(!string.IsNullOrEmpty(Model.Agreement))
        {
            @Html.HiddenFor(model => model.Agreement);
        }
        @Html.HiddenFor(model => model.AgendaPointStatus)
        @Html.HiddenFor(model => model.ProjectId)

        <select multiple name="MeetingIds" style="display: none">
            @if (Model.PreviousMeetings != null)
            {
                foreach (var id in Model.PreviousMeetings.Select(o => o.Id))
                {
                    <option selected="selected">@id</option>

                }
                @* If assigned to a meeting *@
                if (Model.MeetingAgendaPoint != null)
                {
                    <option selected="selected">@Model.MeetingAgendaPoint.MeetingId</option>
                }
            }
        </select>

        @for (int i = 0; i < Model.Documents.Count; i++)
        {
            @Html.HiddenFor(model => model.Documents[i].Guid)
        }

        <br/>
        @if (Model.CanBeEdited)
        {
            @Html.ActionLink("Rediger", "Edit", new { id = Model.Id })
        }
        else
        {
            <a href="#" data-toggle="tooltip" data-placement="top" title="OBS: Du kan ikke redigere dette færdselsmødepunkt, da det allerede er tilknyttet et færdselsmøde. Du kan enten fjerne det fra mødet, eller oprette en kopi af dette mødepunkt og redigere i det i stedet">Rediger</a>
        }
        |
        @Html.ActionLink("Tilbage til listen", "Index")
        | <a data-aws-id="@Model.AddressId" class="map-link hidden-print" target="_blank" href=""><span class="glyphicon glyphicon-map-marker"></span> Vis på kort</a>
        | <input type="submit" value="Opret kopi af mødepunkt" class="btn btn-sm btn-primary" />
    </p>
}

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
