﻿@model IEnumerable<Presentation.Web.Models.AgendaPoint.IndexAgendaPointViewModel>
@{
    ViewBag.Title = "Færdselsmødepunkter";
}

<h2>Færdselsmødepunkter</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj færdselsmødepunkt</a>
    </div>
    <hr />
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <p>Der er ikke oprettet nogen færdselsmødepunkter.</p>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped" id="data-table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AddressId)</th>
                            <th>@Html.DisplayNameFor(model => model.ResponsiblePersonName)</th>
                            <th>@Html.DisplayNameFor(model => model.StreetType)</th>
                            <th>@Html.DisplayNameFor(model => model.TopicName)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.Conclusion)</th>
                            <th>@Html.DisplayNameFor(model => model.Agreement)</th>
                            <th>@Html.DisplayNameFor(model => model.AgendaPointStatus)</th>
                            <th>@Html.DisplayNameFor(model => model.MeetingIds)</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agendaPoint in Model)
                        {
                            <tr>
                                <td class="aws-address-id" data-aws-id="@agendaPoint.AddressId">Henter adresse...</td>
                                <td>@Html.DisplayFor(model => agendaPoint.ResponsiblePersonName)</td>
                                <td>@Html.DisplayFor(model => agendaPoint.StreetType)</td>
                                <td>@Html.DisplayFor(model => agendaPoint.TopicName)</td>
                                <td>@Html.DisplayFor(model => agendaPoint.Description)</td>
                                <td>@Html.DisplayFor(model => agendaPoint.Conclusion)</td>
                                <td>@Html.DisplayFor(model => agendaPoint.Agreement)</td>
                                <td>@Html.DisplayFor(model => agendaPoint.AgendaPointStatus)</td>
                                <td>@Html.DisplayFor(model => agendaPoint.MeetingIds)</td>
                                <td>
                                    <a href="@Url.Action("Details", new {id = agendaPoint.Id})"><span class="glyphicon glyphicon-list-alt text-warning"></span></a>
                                    @if (agendaPoint.CanBeEdited)
                                    {
                                        <a href="@Url.Action("Edit", new {id = agendaPoint.Id})"><span class="glyphicon glyphicon-pencil text-success"></span></a>
                                    }
                                    @if (agendaPoint.IsDeleableForCurrentUser)
                                    {
                                        <a href="@Url.Action("Delete", new {id = agendaPoint.Id})"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
